# OSX
#
.DS_Store

# Xcode
#
build
/*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
config.gradle
reports/

app/src/main/assets/drawable-mdpi/Thumbs.db
app/src/main/assets/drawable-xhdpi/Thumbs.db
app/src/main/assets/drawable-xxhdpi/Thumbs.db
jsbridge/jsbridge.iml
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/android_gradle_build.json
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/build.ninja
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/cmake_build_command.txt
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/cmake_build_output.txt
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/cmake_install.cmake
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeCache.txt
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/rules.ninja
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/cmake.check_cache
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/CMakeOutput.log
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/feature_tests.bin
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/feature_tests.c
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/feature_tests.cxx
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/TargetDirectories.txt
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
app/.externalNativeBuild/cmake/webDebug/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
app/.externalNativeBuild/cmake/webDebug/x86/android_gradle_build.json
app/.externalNativeBuild/cmake/webDebug/x86/build.ninja
app/.externalNativeBuild/cmake/webDebug/x86/cmake_build_command.txt
app/.externalNativeBuild/cmake/webDebug/x86/cmake_build_output.txt
app/.externalNativeBuild/cmake/webDebug/x86/cmake_install.cmake
app/.externalNativeBuild/cmake/webDebug/x86/CMakeCache.txt
app/.externalNativeBuild/cmake/webDebug/x86/rules.ninja
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/cmake.check_cache
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/CMakeOutput.log
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/feature_tests.bin
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/feature_tests.c
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/feature_tests.cxx
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/TargetDirectories.txt
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
app/.externalNativeBuild/cmake/webDebug/x86/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/android_gradle_build.json
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/build.ninja
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/cmake_build_command.txt
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/cmake_build_output.txt
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/cmake_install.cmake
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeCache.txt
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/rules.ninja
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/cmake.check_cache
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/CMakeOutput.log
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/feature_tests.bin
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/feature_tests.c
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/feature_tests.cxx
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/TargetDirectories.txt
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
app/.externalNativeBuild/cmake/webRelease/armeabi-v7a/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake
app/.externalNativeBuild/cmake/webRelease/x86/android_gradle_build.json
app/.externalNativeBuild/cmake/webRelease/x86/build.ninja
app/.externalNativeBuild/cmake/webRelease/x86/cmake_build_command.txt
app/.externalNativeBuild/cmake/webRelease/x86/cmake_build_output.txt
app/.externalNativeBuild/cmake/webRelease/x86/cmake_install.cmake
app/.externalNativeBuild/cmake/webRelease/x86/CMakeCache.txt
app/.externalNativeBuild/cmake/webRelease/x86/rules.ninja
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/cmake.check_cache
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/CMakeOutput.log
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/feature_tests.bin
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/feature_tests.c
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/feature_tests.cxx
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/TargetDirectories.txt
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/3.6.0-rc2/CMakeCCompiler.cmake
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/3.6.0-rc2/CMakeCXXCompiler.cmake
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_C.bin
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/3.6.0-rc2/CMakeDetermineCompilerABI_CXX.bin
app/.externalNativeBuild/cmake/webRelease/x86/CMakeFiles/3.6.0-rc2/CMakeSystem.cmake

/captures/